@import "variable.scss";
@import "mixin.scss";
@keyframes header-up {
  0% {
    top: 0px;
  }
  100% {
    top: -122px;
  }
}
@keyframes header-down {
  0% {
    top: -122px;
  }
  100% {
    top: 0;
  }
}
@keyframes notification {
  0% {
    top: 20px;
    right: -200px;
  }
  10% {
    top: 20px;
    right: 100px;
  }
  20% {
    top: 20px;
    right: 100px;
  }
  30% {
    top: 20px;
    right: 100px;
  }
  40% {
    top: 20px;
    right: 100px;
  }
  50% {
    top: 20px;
    right: 100px;
  }
  60% {
    top: 20px;
    right: 100px;
  }
  70% {
    top: 20px;
    right: 100px;
  }
  80% {
    top: 20px;
    right: 100px;
  }
  90% {
    top: 20px;
    right: 100px;
  }
  100% {
    top: -200px;
    right: 100px;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

body {
  width: $full;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  .dropdown {
    cursor: pointer;

    img {
      @include size(30px, 30px);
      border-radius: 50%;
    }
  }

  .dropdown-menu {
    li {
      a {
        color: $color-19;
      }

      .dropdown-item {
        background-color: transparent !important;
      }

      form {
        display: none;
      }
    }
  }

  .breadcrumb {
    margin-top: 34px;

    a {
      color: $color-22;
      @include font-style($font-family-1, 16px, 400);
    }

    span {
      color: $color-4;
      @include font-style($font-family-1, 16px, 700);
    }
  }

  .color-comment {
    color: $color-4;
  }

  .color-time {
    color: $color-25;
  }

  .btn-success {
    background-color: $color-23;
  }

  .btn-danger {
    background-color: $color-24;
  }

  .btn-not-approved {
    background-color: $color-28;
  }

  .btn-approved {
    background-color: $color-23;
  }

  .title {
    margin-bottom: 20px;
    h6 {
      @include font-style($font-family-1, 24px, 700);
    }

    hr {
      @include size(63px, 3px);
      margin: 0;
    }
  }

  .author-picture {
    @include size(48px, 48px);
    border-radius: 50%;
    margin-right: 17px;
  }

  .disable {
    pointer-events: none;
    cursor: default;
  }

  .header {
    position: relative;

    .image-banner {
      width: 100%;
      @include breakpoint(0px, 768px) {
        height: 380px;
      }
      @include breakpoint(769px, 1600px) {
        height: 520px;
      }
    }

    .nav {
      @include breakpoint(0, 768px) {
        display: none;
      }

      @include breakpoint(769px, 1600px) {
        @include size($full, 122px);
        background: rgba(255, 255, 255, 0.65);
        box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.25);
        position: fixed;
        z-index: 10;

        .nav-logo {
          position: relative;
          display: flex;
          left: 5.5%;
          top: 33px;

          img {
            max-width: $full;
            max-height: $full;
          }

          span {
            @include font-style($font-family-1, 20px, 700);
            color: $color-5;
          }
        }

        form {
          position: absolute;
          @include position(35px, 16%);
          display: flex;
          justify-content: center;
          width: 32%;
          input {
            @include size($full, 45px);
            @include font-style($font-family-1, 15px, 500);
            border-radius: 4px;
            border: 1px solid $color-29;
            color: $color-8;
            background: $color-3;
            margin-left: 3%;
            padding: 13px 50px 13px 20px;
            outline: none;

            &::placeholder {
              color: $color-8;
              @include font-style($font-family-1, 15px, 500);
            }
          }

          button {
            position: relative;
            cursor: pointer;
            background: none;
            border: none;
            left: -8%;
          }
        }

        .top-blog {
          @include center-flex;
          @include font-style($font-family-1, 15px, 500);
          @include size(51px, 31px);
          @include position(47px, 68%);
          color: $color-4;
          position: $position-absolute;
        }

        .create-blog {
          @include font-style($font-family-1, 15px, 500);
          @include center-flex-absolute;
          @include position(48px, 73%);
          @include size(104px, 31px);
          color: $color-4;
        }

        .background {
          background-color: $color-9;
          color: $color-3;
          border-radius: 4px;
          border: none;
        }

        .profile {
          @include position(46px, 87.5%);
          @include center-flex-absolute;
         
          span {
            @include font-style($font-family-1, 15px, 500);
            color: $color-4;
            padding-right: 17px;
            white-space: nowrap;
          }
        }

        .no-login {
          @include center-flex-absolute;
          @include position(46px, 87%);

          a {
            span {
              @include font-style($font-family-1, 15px, 500);
              color: $color-4;
              padding-right: 17px;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .header-static {
      position: static;
    }
  }

  .header-mobile {
    @include breakpoint(769px, 1600px) {
      display: none;
    }

    @include breakpoint(0px, 768px) {
      @include size($full, 69px);
      @include flex-relative;
      background: $color-3;
      box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.25);

      .menu {
        position: relative;
        @include position(16px, 25px);

        svg {
          cursor: pointer;
        }
      }

      .logo-mobile {
        @include position(50%, 50%);
        @include center-flex;
        @include flex-relative;
        height: 45px;
        position: $position-absolute;
        transform: $transform-center;

        span {
          @include font-style($font-family-1, 20px, 700);
          color: $color-5;
          align-self: center;
        }
      }

      .logo-search-mobile {
        position: relative;
        position: absolute;
        @include position(20px, "");
        right: 25px;

        svg {
          cursor: pointer;
        }
      }
    }
  }

  select {
    @include font-style($font-family-1, 15px, 500);
    color: $color-4;
    border-radius: 4px;
    border: 1px solid $color-10;
    outline: none;
    background: $color-3;
    padding: 7px 60px 11px 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }

  .container {
    @include breakpoint(0, 768px) {
      padding: 0 10%;
    }

    @include breakpoint(769px, 1600px) {
      max-width: 90%;
    }

    .header-body {
      @include center-flex;
      margin-left: auto;
      margin-top: 73px;
      margin-bottom: 38px;
      justify-content: space-between;
    }
  }

  .row {
    .blog,
    .blog-end {
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: $color-3;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      padding: 0;
      border-top-left-radius: -10px;
      border-top-right-radius: -10px;

      img {
        @include size($full, 276px);
      }

      .card-body {
        .name-and-time {
          display: flex;
          padding-bottom: 15px;

          div {
            @include center-flex;

            span {
              @include font-style($font-family-2, 18px, 400);
              @include breakpoint(0px, 768px) {
                @include font-style($font-family-2, 15px, 400);
              }
              color: $color-7;
              line-height: 30px;
            }

            .name {
              margin: 0 21px 0 4px;
            }

            .time {
              margin-left: 8px;
            }
          }
        }

        h5 {
          color: $color-7;
          @include font-style($font-family-2, 20px, 700);
          line-height: 28px;
        }

        p {
          color: $color-7;
          @include font-style($font-family-2, 18px, 400);
          line-height: 25px;
        }

        .single-line {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .read-more {
          @include size(140px, 40px);
          @include center-flex;
          @include font-style($font-family-1, 14px, 400);
          border-radius: 4px;
          border: 1px solid $color-11;
          background: $color-3;
          color: $color-1;

          &:hover {
            background-color: $color-1;
            color: $color-3;

            svg {
              path {
                stroke: $color-11;
              }
            }
          }
        }
      }
    }

    .blog {
      margin-bottom: 70px;
    }

    .blog-end {
      margin-bottom: 53px;
    }
  }

  .pagination {
    @include center-flex;
    width: $full;
    margin-bottom: 106px;
    @include breakpoint(0, 768px) {
      margin-bottom: 59px;
    }
    li {
      margin-right: 1px;
    }

    .page-item {
      @include size(40px, 40px);

      .page-link {
        @include font-style($font-family-2, 20px, 700);
        @include size($full, $full);
        @include center-flex;
        border: none;
        border-radius: 50%;
        color: $color-7;

        &:hover {
          background-color: $color-12;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .page-current {
        background-color: $color-12;
      }

      .arrow {
        background-color: $color-13;
        &:hover {
          background-color: $color-14;
        }
      }
    }
  }

  .footer {
    @include size($full, 94px);
    @include center-flex;
    background: $color-5;

    div {
      @include font-style($font-family-1, 15px, 500);
      color: $color-3;
    }
  }

  .header-up {
    animation-name: header-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .header-down {
    animation-name: header-down;
    animation-duration: 1.5s;
  }

  .notification-success {
    @include center-flex;
    max-width: 250px;
    background-color: $color-18;
    border-radius: 5px;
    animation-name: notification;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    position: absolute;
    z-index: 100;

    strong {
      margin-left: 10px;
    }
  }

  .verify-token {
    @include center-flex;
    align-items: center;
    @include font-style($font-family-1, 20px, 700);

    .success {
      p,
      a {
        @include center-flex;
        color: $color-18;
        text-decoration: none;
      }
    }

    .error {
      color: $color-14;
    }
  }

  .sign-up,
  .sign-in,
  .verify {
    height: 100vh;
    @include breakpoint(769px, 1600px) {
      @include center-flex;
    }

    @include breakpoint(0px, 768px) {
      margin-top: 100px;
    }

    div {
      .logo {
        @include center-flex;
        margin-bottom: 75px;

        div {
          @include size(151px, 61px);

          a {
            @include center-flex;
            text-decoration: none;

            img {
              @include size(61px, 61px);
            }

            span {
              color: $color-5;
              @include font-style($font-family-1, 20px, 700);
            }
          }
        }
      }

      .content {
        @include breakpoint(0px, 768px) {
          margin-left: 52px;
          margin-right: 52px;
        }

        form {
          h4 {
            @include font-style($font-family-1, 20px, 700);
            color: $color-4;
            margin: 0px 0px 16px 0px;
          }

          label {
            @include font-style($font-family-1, 15px, 400);
            color: $color-4;
            display: block;

            span {
              color: $color-14;
            }
          }

          input {
            display: block;
            margin: 10px 0 16px 0;
            border: 2px solid $color-10;
            border-radius: 2px;
            outline: none;
            @include breakpoint(769px, 1600px) {
              @include size(570px, 40px);
            }

            @include breakpoint(0px, 768px) {
              @include size(100%, 40px);
            }
          }

          p {
            margin: 8px 0px 8px 0px;
            color: $color-15;
            @include font-style($font-family-1, 15px, 400);
          }

          div {
            @include center-flex;

            button {
              color: $color-3;
              margin: 25px 0 11px 0;
              background-color: $color-17;
              border: 2px solid $color-17;
              border-radius: 5px;
              display: block;
              @include breakpoint(769px, 1600px) {
                @include size(280px, 40px);
              }

              @include breakpoint(0px, 768px) {
                @include size(198px, 40px);
              }
            }

            a {
              color: $color-17;
              text-decoration: none;
              @include font-style($font-family-1, 15px, 400);
            }
          }

          .option {
            justify-content: space-between;
            margin-bottom: 40px;

            div {
              text-align: center;

              input {
                margin: 0 8px 0 0;
                @include breakpoint(0px, 768px) {
                  @include size(13px, 13px);
                }

                @include breakpoint(769px, 1600px) {
                  @include size(24px, 24px);
                }
              }

              span,
              a {
                @include breakpoint(0px, 768px) {
                  @include font-style($font-family-1, 11px, 400);
                }

                @include breakpoint(769px, 1600px) {
                  @include font-style($font-family-1, 15px, 400);
                }
              }

              a {
                color: $color-17;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .page-create-blog {
    @include breakpoint(0px, 768px) {
      margin: 39px 2% 40px 2%;
    }
    @include breakpoint(769px, 1600px) {
      margin: 39px 5% 40px 5%;
    }

    .content {
      background-color: $color-20;

      div {
        form {
          @include breakpoint(0px, 768px) {
            margin: 26px 11px 0;
          }
          @include breakpoint(769px, 1600px) {
            margin: 31px 30px 0;
          }

          h3 {
            @include font-style($font-family-1, 20px, 700);
            padding-top: 31px;
          }

          p {
            margin: 16px 0 10px;
            @include font-style($font-family-1, 15px, 400);

            span {
              color: $color-14;
            }
          }

          .category {
            color: $color-8;
            margin-bottom: 18px;
            @include font-style($font-family-1, 15px, 400);
            @include breakpoint(769px, 1600px) {
              padding: 10px 200px 15px 14px;
            }

            @include breakpoint(0px, 768px) {
              padding: 10px 100px 15px 2px;
            }
          }

          input {
            @include size($full, 40px);
            outline: none;
            margin: 10px 5px 0;
            border: 2px solid $color-10;
            border-radius: 2px;
            padding: 13px 50px 13px 20px;

            &::placeholder {
              color: $color-8;
              @include font-style($font-family-1, 15px, 400);
            }
          }

          label,
          button {
            border: 1px solid $color-17;
            background: $color-3;
            margin: 20px 0px 10px 0px;
            color: $color-21;
            border-radius: 4px;
            display: block;
            @include center-flex;
            @include font-style($font-family-1, 15px, 400);

            @include breakpoint(0, 768px) {
              @include size(130px, 40px);
            }

            @include breakpoint(769px, 1600px) {
              @include size(133px, 40px);
            }
          }

          .upload-image {
            display: none;
          }

          img {
            height: 170px;
            margin-bottom: 11px;
            @include breakpoint(0px, 768px) {
              width: 207px;
            }
            @include breakpoint(769px, 1600px) {
              width: 269px;
            }
          }

          textarea {
            @include size($full, 459px);
            outline: none;
            border-radius: 4px;
            border: 1px solid $color-10;
            background: $color-3;
          }

          button {
            color: $color-17;
          }

          .error {
            color: $color-15;
          }
        }
      }
    }
  }

  .page-approve-blog {
    @include breakpoint(0px, 768px) {
      margin: 39px 42px 40px 42px;
    }
    @include breakpoint(769px, 1600px) {
      margin: 39px 5% 40px 5%;
    }

    .content {
      h3 {
        margin-top: 40px;
      }

      .author-action {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .author {
          @include center-flex;

          .author-image {
            @include size(36px, 36px);
            border-radius: 36px;
            margin-right: 8px;
          }

          .detail {
            display: flex;
            flex-direction: column;

            .author-name {
              @include font-style($font-family-1, 12px, 500);
              color: $color-5;
            }

            .create-at {
              @include font-style($font-family-1, 11px, 400);
              color: $color-26;
            }
          }
        }

        .action {
          button {
            @include size(125px, 31px);
            @include font-style($font-family-1, 15px, 500);
            color: $color-3;
            border-radius: 3px;
            border: none;
            margin-left: 31px;
          }
        }
      }

      .blog-image {
        width: 100%;
        @include breakpoint(0, 768px) {
          height: 450px;
          margin-bottom: 30px;
        }

        @include breakpoint(769px, 1600px) {
          height: 555px;
          margin-bottom: 40px;
        }
      }

      .blog-content {
        @include font-style($font-family-1, 14px, 400);
        color: $color-25;
        margin-bottom: 50px;

        .like-comment {
          display: flex;
          cursor: pointer;
          align-items: center;

          .liked,
          .unliked {
            @include size(30px, 30px);
            background-size: 30px 30px;
          }

          .liked {
            background-image: url("../images/liked.png");
          }

          .unliked {
            background-image: url("../images/unliked.png");
          }

          span {
            @include font-style($font-family-1, 20px, 700);
            margin: 0 20px 0 10px;
          }

          img {
            @include size(30px, 30px);
          }
        }
      }
    }

    .related-blog {
      .related-blog-list {
        @include breakpoint(0, 768px) {
          display: none;
        }
      }

      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;

        .slide {
          display: none;
          border: 1px solid rgba(0, 0, 0, 0.125);
          margin-bottom: 70px;
          border-radius: 0.25rem;

          .blog {
            img {
              width: $full;
              height: 461px;
            }

            .card-body {
              @include font-style($font-family-1, 17px, 700);
              color: $color-5;
            }
          }
        }

        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
          animation-fill-mode: forwards;
        }
      }

      .dot {
        cursor: pointer;
        @include size(15px, 15px);
        margin: 0 2px 36px 2px;
        background-color: $color-20;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover {
          background-color: $color-30;
        }
      }

      .active {
        background-color: $color-30;
      }
    }

    .comment {
      .my-comment {
        display: flex;
        margin-bottom: 49px;

        form {
          @include size($full, 55px);

          input {
            @include size($full, 55px);
            outline: none;
            border-radius: 4px;
            border: 1px solid $color-27;
            background: $color-3;
          }
        }
      }

      form {
        @include center-flex;
        position: relative;

        input {
          z-index: 1;
          padding-right: 50px;
        }

        div {
          position: absolute;
          justify-content: space-between;
          right: 10px;
          top: 15px;
          z-index: 2;

          label {
            cursor: pointer;
          }
        }
      }

      .list-comment {
        .single-comment {
          margin-bottom: 30px;

          .author {
            display: flex;
            align-items: center;

            span {
              @include font-style($font-family-1, 24px, 700);
              color: $color-4;
            }

            img {
              @include size(48px, 48px);
            }
          }

          .comment-detail {
            margin-left: 67px;
            @include font-style($font-family-1, 14px, 400);

            p {
              span {
                margin-right: 10px;
                cursor: pointer;
              }
            }

            input {
              @include size($full, 55px);
              outline: none;
              border-radius: 4px;
              border: 1px solid $color-27;
              background: $color-3;
              padding-right: 100px;
            }
          }
        }
      }
    }
  }

  .modal {
    top: 185px;

    .modal-dialog {
      .modal-content {
        .modal-header {
          h5 {
            color: $color-4;
            @include font-style($font-family-1, 20px, 700);
          }
        }

        .confirm-delete {
          @include font-style($font-family-1, 15px, 400);
          @include center-flex;
          color: $color-4;
          height: 112px;
        }

        .modal-footer {
          display: flex;
          justify-content: space-between;

          button {
            margin: 0 54px;
          }
        }
      }
    }
  }

  .blogs {
    @include breakpoint(0px, 768px) {
      margin: 39px 68px 40px 68px;
    }
    @include breakpoint(769px, 1600px) {
      margin: 39px 5% 40px 5%;
    }

    .content {
      margin-top: 40px;
    }
  }

  .search-user {
    
    input {
      @include size(50%, 45px);
      @include font-style($font-family-1, 15px, 500);
      border-radius: 4px;
      border: 1px solid $color-29;
      color: $color-8;
      background: $color-3;
      padding: 13px 50px 13px 20px;
      outline: none;

      &::placeholder {
        color: $color-8;
        @include font-style($font-family-1, 15px, 500);
      }
    }

    button {
      @include font-style($font-family-2, 15px, 300);
      margin-left: 20px;
    }
  }

  .table-manager-user {
    thead {
      @include font-style($font-family-1, 15px, 500);
    }

    tbody {
      font-size: 20px;
    }

    input {
      min-width: 80px;
      @include size(100px, 35px);
      cursor: pointer;
    }

    img {
      @include size(70px, 70px);
    }
  }
}
